@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

body, html {
    height: calc(100% - 0.5em);
    margin: 0;
    font-family: 'Kite One';
}

body { /*Used the website https://www.colorzilla.com/gradient-editor/ to generate this CSS code for the background.*/
	background: #ff0000;
	background: -moz-linear-gradient(left,  #ff0000 0%, #000000 100%);
	background: -webkit-linear-gradient(left,  #ff0000 0%,#000000 100%);
	background: linear-gradient(to right,  #ff0000 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=1 );
	background-repeat: no-repeat;
	background-attachment: fixed;
}

aside {
    color: #fff;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
}

.menu {
    display: none;
    width: 40px;
    cursor: pointer;
}

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    font: bold 1.3em Kite One;
}

.active {
    position: absolute;
    display: block;
    background: #c7e1ff;
    width: 50%;
    right: 0;
    top: 60px;
    height: 100%;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
	text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 0.8em Kite One;
    display: block;
    padding: 1.5em 3em;
    background-color: #c7e1ff;
    color: #000;
}

ul li a:hover {
	background-color: #fff;
}

ul li a:active{
	color: #94c6ff;
}

main {
    background: #fff;
    padding: 1em;
}

h1 {
	text-align: center;
	font: bold 1.5em Kite One;
    margin: 0.5em;
    padding: 0.em;
    border-bottom: solid 1px #333;
}

p {
    font-size: 1em;        
}

p:not(last-child){
    margin-bottom: 1.5em; 
}

h2 {
    font: bold 0.8em Kite One;
    text-decoration: underline;
}

.examples ul {
    margin: 0;
    display: list-item;
    font: normal 0.8em Kite One;
}

.examples ul li {
    list-style-type: disc;
    list-style-position: inside;
}

h3 {
    margin: 0.5em;
    font: bold 0.7em Kite One;
}

.or {
    display: flex;
    margin-bottom: 20px
}

.tables {
    width:50%;
    border: 1px solid #000;
    padding: 1em
}

.Form {
    padding:20px;
}

.Form .Label {
    padding-bottom:15px;
}

.Form .Label label {
    display:block;
}

.Form input[type="text"], .Form input[type="email"], .Form textarea {
    padding:8px;
    width:100%;
}

.button{
    background-color: #ff0000;
    color: #000;
    padding: 1em 2em;
    margin-right: 2em;
    border: none;
}

.button:hover{
    background: #94c6ff;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Images {
    position: relative;
    width: 100%;
}

footer {
    font: normal 10px Kite One;
    color: #fff;
	text-align: center;
	padding: 0px;
    margin: 1em;
}

@media only screen and (min-width: 768px) {

    .container {
        display: grid;
        grid-template-columns: 20% auto;
        padding: 2em;
        padding-bottom: 0;
    }

    aside {
        background: #94c6ff;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        padding: 0;
    }

    main {
        padding: 1em;
        background-size: 70%;
    }
    figure {
	    display: block;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 10px;
	    margin-inline-end: 10px;
	}

    #avatar img {
        width:100%;
        height: auto;
    }

    figcaption {
        text-align: center;
        color: #000;
    }

    ul {
        display: block;
        margin-top: 2em;
        position: relative !important;
        background: none !important;
        width: 100% !important;
    }

    ul li a{
        padding:1em;
    }

	ul li a:link {
	    color: #000;
	}
    
	ul li a:hover {
        background-color: #fff;
    }

    ul li a:active{
    	color: #94c6ff;
    }

    nav {
        background: none;
    }

    h1 {
        font: bold 2.5em Kite One;
        margin: 0.5em;
        padding: 0.5em;
        border-bottom: solid 1px #333;
    }

    p {
        font: normal 1.3em Kite One;
    }

    h2 {
        font: bold 1.2em Kite One;
        text-decoration: underline;
    }

    .examples ul {
        font: normal 1em Kite One;
    }

    h3 {
        font: bold 1em Kite One;
    }

}

@media only screen and (max-width: 767px) {

    #avatar img {
        display: none;
    }

    .menu {
        display: inline-block;
    }

}